.card-body {
  padding-bottom: 0em;
}

.iconColorGreyToRed {
  color: #737373;
}

.iconColorGreyToRed:hover {
  color: #ff0000;
}

.iconColorGreyToBlack {
  color: #737373;
}

.iconColorGreyToBlack:hover {
  color: #000000;
}

.far .fa-heart{
  padding-bottom:0
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.col-12{
  padding: 0;
}

.marginRight {
 margin-right: 1px; 
}

.marginLeft {
  margin-left: 1px;
}

.offset-2 {
  margin-left: 5px;
}

#rechercheButton {
  margin-top: 10px;
}

#identifiant {
  margin-top: 10px;
}

@media (max-width: 576px) {
  .noPadding {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  #infosPerso {
    display: none;
  }
  #infosPersoNav {
    display: block!important;
  } 
}

@media (min-width: 992px) {
  #infosPersoNav{
    display: none;
  } 
  
  #infosPersoTop {
    display: none;
  }
}

#footer {
  height: 250px;
  background-color: #d9d9d9;
  margin-top: 45px;
  padding: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#brandFooter {
  font-weight: 100; 
  text-align: center;
}

.fa-copyright {
  margin-right: 3px;
}

#emailFooter {
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 500; 
  text-align: center;
}

#telFooter {
  margin-bottom: 20px; 
  margin-top: 0px;
  font-weight: 500; 
  text-align: center;
}

#socialNetworkText {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.fa-envelope {
  margin-right: 10px;
  text-decoration: none;
}

.fa-phone-alt {
  margin-right: 10px;
  text-decoration: none;
}

.fa-instagram {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.fa-twitter {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.fa-facebook {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.fa-snapchat-ghost {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}