{% extends "base.html" %} 

{% block style %}
<link href='profil.css' type='text/css' rel='stylesheet' />
{% endblock %}

{% block title %}
  <title>Profil</title>
{% endblock %}

{% block navbar %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff9900;">
<!--   <a class="navbar-brand mb-0 h1">Félix Immobilier</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> <!--button s'affiche qu'en format le plus petit (telephone) -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path }}?c=annonce" id="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path }}?c=annonce&t=list" id="location">Annonces</a>
      </li>
      {% if user.role == "utilisateur" %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path }}?c=annonce&t=contact">Contact</a>
      </li>
      {% endif %}
      
      <li class="nav-item" id="infosPersoNav">
        <a class="nav-link" href="#">Informations personnelles</a>
      </li>  
    </ul>
    
    
     {% if user.role == "utilisateur" %}    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link far fa-user-circle" href="{{ path }}?c=user&t=profil"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-sign-out-alt" id="disconnect" href="{{ path }}?c=user&t=disconnect"></a>
      </li>
    </ul>
     {% endif %}
    
     {% if user.role == "admin" %}    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link fas fa-cog" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path }}?c=annonce&t=new">Ajouter une annonce</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path }}?c=admin">Gerer les utilisateurs</a> 
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-sign-out-alt" href="{{ path }}?c=user&t=disconnect"></a>
      </li>
    </ul>
     {% endif %}
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="parent-container d-flex">
<div class="container-fluid col-12 col-lg-9">
  <div class="container-fluid" id="infosPersoTop" style="display: none"></div>
  <div class="d-flex justify-content-center align-items-center" style="height: 80px">
    <h3 style="text-align:center; width: 100%">Annonces enregistrées</h3>
  </div>
  <div class="row">
  {% for annonce in annonces %}  
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4" id="{{'card' ~ annonce.id }}">
    <div class="card">
      <img src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/ce2ece60-9b32-11e6-95ab-00163ed833e7/260663710/the-test-fun-for-friends-screenshot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ annonce.titre }}</h5>
        <p class="card-text">{{ annonce.description }}</p>
        <p class="card-text">{{ annonce.prix ~ '€' }}</p>
        <div class="d-flex flex-row mb-3">
        <a href="{{ path }}?c=annonce&t=show&annonceID={{ annonce.id }}" class="btn btn-outline-secondary p-2">Voir l'annonce</a>
      {#  {% if user.role == "admin" %}
        <a href="{{ path }}?c=annonce&t=edit&annonceID={{ annonce.id }}" class="p-2 ml-auto iconColorGreyToBlack"><i class="far fa-edit"></i></a>
        <a href="{{ path }}?c=annonce&t=delete&annonceID={{ annonce.id }}" class="p-2 iconColorGreyToRed"><i class="far fa-trash-alt"></i></a>
        {% endif %} #}
        <i class="like fas fa-heart p-2 ml-auto" style="color: red; cursor: pointer" data-annonce-id='{{ annonce.id }}' id='{{ annonce.id }}'></i>   
        </div>
      </div>
    </div>
   </div>
  {% endfor %}
  </div>
</div>
  
<div class="container-fluid col-3" id="infosPerso">
 {# <div class="d-flex justify-content-center align-items-center" style="height: 80px">
      <h3 style="text-align:center; width: 100%">Informations personnelles</h3>
  </div>
    <div class="d-flex mb-3 flex-row" id="identifiant">
      <div class="col-10">{{ 'identifiant : '~ user.identifiant }}</div>
      <i class="far fa-edit ml-auto" id="editIdentifiant"></i>
    </div>  
  <div class="container-fluid" style="display: none" id="editIdentifiantTemplate">
      <div class="row">
        <div class = "form-group col-10 offset-1">
           <label for = "identifiant">Nouvel identifiant :</label>
           <input class = form-control type = "text" id="identifiant" name="identifiant" placeholder="Nouvel identifiant">
           <div id="previewIdentifiant" class="hidden" style="text-align:center"></div>
        </div>
        
        <div class="col-10 offset-1">
          <button id="resetIdentifiant" type="button" class="btn btn-secondary btn btn-block form-control">Réinitialiser</button>
        </div>
        <br>
        <br>
        <br>
      </div>
  </div>
  
  <div class="d-flex mb-3 flex-row">
    <div class="col-10">{{ 'email : '~ user.email }}</div>
    <i class="far fa-edit ml-auto" id="editEmail"></i>
  </div>  
    
  <div class="container-fluid" style="display: none" id="editEmailTemplate">
      <div class="row">
        <div class = "form-group col-10 offset-1">          
            <label for = "email">nouvel email :</label>
            <input class = form-control type = "text" id = "email" name = "email" placeholder="Nouvel email">
            <div id="previewEmail" class="hidden" style="text-align:center"></div>
        </div>      
        <div class="col-10 offset-1">
          <button id="resetEmail" type="button" class="btn btn-secondary btn btn-block form-control">Réinitialiser</button>
        </div>
      </div>
  <br>
  <br>
  <br>
  </div>
  
  <div class="d-flex mb-3 flex-row">
    <div class="col-10">{{ 'mot de passe' }}</div>
    <i class="far fa-edit ml-auto" id="editPassword"></i>
  </div>  
  
  <div class="container-fluid" style="display: none" id="editPasswordTemplate">
      <div class="row">
        <div class = "form-group col-10 offset-1">          
            <label for = "password">mot de passe actuel :</label>
            <input class = form-control type = "text" id = "password" name = "password" placeholder="Mot de passe actuel">
        </div> 
        <div class = "form-group col-10 offset-1">          
            <label for = "passwordNew1">nouveau mot de passe :</label>
            <input class = form-control type = "text" id = "passwordNew1" name = "passwordNew1" placeholder="Nouveau mot de passe">
        </div>  
        <div class = "form-group col-10 offset-1">          
            <label for = "passwordNew2">nouveau mot de passe :</label>
            <input class = form-control type = "text" id = "passwordNew2" name = "passwordNew2" placeholder="Nouveau mot de passe">
            <div id="previewPassword" class="hidden" style="text-align:center"></div>
        </div>      
        <div class="col-10 offset-1">
          <button id="resetPassword" type="button" class="btn btn-secondary btn btn-block form-control">Réinitialiser</button>
        </div>
      </div>
  </div> #}
</div>
</div>
{% endblock %}  


{% block script %}
<script> 
  
 function infosPerso()
 {
  $.ajax({
          url: "{{ path }}?c=annonce&t=infosPersoNav",
          type: "POST",
          contentType: "application/json",
          success: function (response) {
            $("#infosPerso").html(response); 
          },
          error: function (jqXHR) {
          }
      });
 }
  
 infosPerso();
  
 $('#infosPersoNav').click(function() {  
   if ($('#infosPersoTop').css('display') == 'none') {
     $.ajax({
          url: "{{ path }}?c=annonce&t=infosPersoNav",
          type: "POST",
          contentType: "application/json",
          success: function (response) {
            $("#infosPersoTop").html(response); 
            $('#infosPersoTop').slideDown("slow");
          },
          error: function (jqXHR) {
          }
      });
   }
   else if ($('#infosPersoTop').css('display') == 'block') {
     $('#infosPersoTop').slideUp("slow");
     setTimeout(function(){
     $('#infosPersoTop').html("");   
           }, 1000);
   }
   
 });
  
  $(".like").click(function() {
      if (confirm('VOULEZ-VOUS VRAIMENT RETIRER CETTE ANNONCE DE VOTRE WISHLIST ?')) {
      const annonceID = $(this).data('annonce-id');

      $.ajax({
        url: "{{ path }}?c=annonce&t=like&annonceID=" +annonceID,
        type: "GET",
        dataType: "JSON",
        contentType: 'application/json',
        success: function() {
         const likeAnnonce = document.getElementById(annonceID)
         const annonceCard = document.getElementById('card' +annonceID);
             likeAnnonce.className = "like far fa-heart p-2 ml-auto";
             likeAnnonce.style.color = "black";
             annonceCard.style.display = "none";
        },
        error: function() {
          console.log('error');
          alert('Une erreur est survenue, veuillez réessayer.')
        } 
        });
      };
    });
  
  
  $("#resetIdentifiant").click(function(){
   var identifiant = $('#identifiant').val();
   var identifiantJSON = JSON.stringify(identifiant);
      $.ajax({
          url: "{{ path }}?c=user&t=resetIdentifiant",
          type: "POST",
          data: identifiantJSON,
          contentType: "application/json",
          success: function (response) {
            const success = JSON.parse(response);
            $("#previewIdentifiant").html(success.message); 
            $("#previewIdentifiant").css( 'display', "block" );
            setTimeout(function(){
            if($("#editIdentifiantTemplate").css('display', "block")){
              $("#previewIdentifiant").html("");
              $('#identifiant').val("");
              $("#editIdentifiantTemplate").slideUp("slow");
            }   
           }, 3000);
          },
          error: function (jqXHR) {
            const error = JSON.parse(jqXHR.responseText);
            $("#previewIdentifiant").html(error.message); 
            $("#previewIdentifiant").css( 'display', "block" );
          }
      });
    
  });
  
  $("#resetEmail").click(function(){
   var email  = $('#email').val();
   var emailJSON = JSON.stringify(email);
      $.ajax({
          url: "{{ path }}?c=user&t=resetEmail",
          type: "POST",
          data: emailJSON,
          contentType: "application/json",
          success: function (response) {
            console.log("success");
            const success = JSON.parse(response);
            $("#previewEmail").html(success.message); 
            $( "#previewEmail" ).css( 'display', "block" )
            setTimeout(function(){
            if($("#editEmailTemplate").css('display', "block")){
              $("#previewEmail").html("");
              $('#email').val("");
              $("#editEmailTemplate").slideUp("slow");
            }   
           }, 3000);
          },
          error: function (jqXHR) {
            const error = JSON.parse(jqXHR.responseText);
            console.log(error);
            $("#previewEmail").html(error.message);
            $("#previewEmail").css( 'display', "block" );
          }
      })
  });
  
  $("#resetPassword").click(function(){
   var password  = $('#password').val();
   var passwordNew1 = $('#passwordNew1').val();
   var passwordNew2 = $('#passwordNew2').val();
    
   var data = JSON.stringify({
     password : password,
     passwordNew1 : passwordNew1,
     passwordNew2 : passwordNew2,
   });
    
      $.ajax({
          url: "{{ path }}?c=user&t=resetPassword",
          type: "POST",
          data: data,
          contentType: "application/json",
          success: function (response) {
            const success = JSON.parse(response);
            $("#previewPassword").html(success.message); 
            $( "#previewPassword" ).css( 'display', "block" )
            setTimeout(function(){
            if($("#editPasswordTemplate").css('display', "block")){
              $("#previewPassword").html("");
              $('#password').val("");
              $('#passwordNew1').val("");
              $('#passwordNew2').val("");
              $("#editPasswordTemplate").slideUp("slow");
            }   
           }, 3000);
          },
          error: function (jqXHR) {
            const error = JSON.parse(jqXHR.responseText);
            console.log(error);
            $("#previewPassword").html(error.message);
            $("#previewPassword").css( 'display', "block" );
          }
      })
  });
  
//    var likeNotConnected = document.getElementsByClassName('likeNotConnected');
  
//    function likeNotConnected(){
//     alert("Merci de vous connecter pour pouvoir ajouter cette annonce a votre wishlist")
//    }; 
  
//    for (var i = 0; i < likeNotConnected.length; i++) {
//      likeNotConnected[i].addEventListener('click', likeNotConnected);
//    };
  
</script>
{% endblock %}  